:root {
  --van-button-mini-height: 24px;
  --van-button-mini-padding: 0 var(--van-padding-base);
  --van-button-mini-font-size: var(--van-font-size-xs);
  --van-button-small-height: 32px;
  --van-button-small-padding: 0 var(--van-padding-xs);
  --van-button-small-font-size: var(--van-font-size-sm);
  --van-button-normal-padding: 0 15px;
  --van-button-normal-font-size: var(--van-font-size-md);
  --van-button-large-height: 50px;
  --van-button-default-height: 44px;
  --van-button-default-line-height: 1.2;
  --van-button-default-font-size: var(--van-font-size-lg);
  --van-button-default-color: var(--van-text-color);
  --van-button-default-background: var(--van-background-2);
  --van-button-default-border-color: var(--van-gray-4);
  --van-button-primary-color: var(--van-white);
  --van-button-primary-background: var(--van-primary-color);
  --van-button-primary-border-color: var(--van-primary-color);
  --van-button-success-color: var(--van-white);
  --van-button-success-background: var(--van-success-color);
  --van-button-success-border-color: var(--van-success-color);
  --van-button-danger-color: var(--van-white);
  --van-button-danger-background: var(--van-danger-color);
  --van-button-danger-border-color: var(--van-danger-color);
  --van-button-warning-color: var(--van-white);
  --van-button-warning-background: var(--van-warning-color);
  --van-button-warning-border-color: var(--van-warning-color);
  --van-button-border-width: var(--van-border-width);
  --van-button-radius: var(--van-radius-md);
  --van-button-round-radius: var(--van-radius-max);
  --van-button-plain-background: var(--van-white);
  --van-button-disabled-opacity: var(--van-disabled-opacity);
  --van-button-icon-size: 1.2em;
  --van-button-loading-icon-size: 20px;
}
.van-theme-dark {
  --van-button-plain-background: transparent;
}
.van-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: var(--van-button-default-height);
  margin: 0;
  padding: 0;
  font-size: var(--van-button-default-font-size);
  line-height: var(--van-button-default-line-height);
  text-align: center;
  border-radius: var(--van-button-radius);
  cursor: pointer;
  transition: opacity var(--van-duration-fast);
  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
}
.van-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: var(--van-black);
  border: inherit;
  border-color: var(--van-black);
  border-radius: inherit;
  /* inherit parent's border radius */
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
}
.van-button:active::before {
  opacity: 0.1;
}
.van-button--default {
  color: var(--van-button-default-color);
  background: var(--van-button-default-background);
  border: var(--van-button-border-width) solid var(--van-button-default-border-color);
}
.van-button--primary {
  color: var(--van-button-primary-color);
  background: var(--van-button-primary-background);
  border: var(--van-button-border-width) solid var(--van-button-primary-border-color);
}
